html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.45;
  background-color: #fff;
}

header {
  display: flex;
  position: relative;
}

header::after {
  content: '';
  position: absolute;
  top:100%;
  left: 0;
  width: 100%;
  z-index: 100;
  border-bottom: 8px solid rgba(255,152,0,0.5);
}

header .logo{
  flex: 0 0 100px;
}

header .logo a {
  width: 35px;
  height: 35px;
  display: block;
  margin: 28px auto;
  background: url('../images/logo.png');
}

header .header-middle-area {
  flex: auto;
  line-height: 88px;
}

header .header-middle-area .title {
  width: 240px;
  height: 30px;
  margin: 27px auto 0 0;
  background: url("../images/logo.svg") no-repeat 0 0;
}

header .search-wrapper {
  flex: 0 0 344px;
  padding-top: 22px;
  background-color: #eee;
}



.search-wrapper .search-text {
  height: 66px;
  width: 257px;
  float: left;
}


.search-text input {
  width: 213px;
  height: 40px;
  font-size: 1.4em;
  border: 1px solid #ccc;
  color: #000;
  outline: 0;
  margin: 0 22px;
  padding-left: 5px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

 .search-btn {
  width: 58px;
  height: 43px;
  float: right;
  background-color: #000;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 20px;
}

.search-wrapper button {
  width: 58px;
  height: 43px;
  border: none;
  cursor: pointer;
  background: url('../images/search.png') no-repeat center center;
}


.content-wrapper {
  display: flex;
}

/**  左侧导航条    **/

.content-wrapper nav {
  flex: 0 0 100px;
  float: left;
  padding-top: 14px;
  background-color: #000;
}

/**
@media screen and (max-width: 1410px) {
  .content-wrapper nav {
    display: none;
  }
}
**/

.content-wrapper nav ul li {
  width: 100px;
  height: 96px;
  text-align: center;
  position: relative;
}

.content-wrapper nav ul li a {
  display: inline-block;
  padding: 17px 0;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;
}

.content-wrapper nav span {
  display: block;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  font-weight: 700;
  transform: translateX(-200px);
  transition: 0.1s;
  position: relative;
}

#nav-icon-home, #nav-icon-videos, #nav-icon-almanac, #nav-icon-gallery, #nav-icon-snippets, #nav-icon-forums, #nav-icon-newsletter, #nav-icon-jobs, #nav-icon-guides {
  width: 40px;
  height: 40px;
  stroke-width: 2;
  display: block;
  margin: 0 auto;
}


nav li.active {
  background-color: #eee;
}

nav li.active a{
  background-color: #eee;
}

nav li.active svg{
  fill: #eee;
  stroke: #000;
}

nav li.active span{
  color: #000;
  transform: translateX(0);
}

/** 导航栏hover动画**/

.content-wrapper nav ul:hover span {
  transform: translateX(0);
}

.content-wrapper nav ul:hover #nav-icon-videos {
  stroke: #e91e63;
}

.content-wrapper nav ul:hover #nav-icon-almanac {
  stroke: #f44336;
}

.content-wrapper nav ul:hover  #nav-icon-gallery {
  stroke: #9c27b0;
}

.content-wrapper nav ul:hover  #nav-icon-snippets {
  stroke: #03a9f4;
}

.content-wrapper nav ul:hover  #nav-icon-forums {
  stroke: #4caf50;
}

.content-wrapper nav ul:hover  #nav-icon-newsletter{
  stroke: #8bc34a;
}

.content-wrapper nav ul:hover  #nav-icon-jobs {
  stroke: #bcb04f;
}

.content-wrapper nav ul:hover  #nav-icon-guides {
  stroke: #607d8b;
}

.content-wrapper nav a:hover{
  transform: translateY(2px);
}


/** 中部主页面 **/

.main {
  flex: 0 0 1;
  padding: 36px 44px;
  background: #3c3c3c;
  background-image: url('../images/main-bg.svg');
}

.full-col{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article-card {
  width: calc(33.3% - 20px);
  flex: 0 0 1;
  margin-bottom: 40px;
  overflow: hidden;
}

@media screen and (max-width: 1800px) {
  .article-card {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 1250px) {
  .article-card {
    width: 100%;
  }
}

.article-card .content {
  background: #fff;
  padding: 44px 44px 0;
}

.article-card .content .title-name {
  line-height: 1.3;
  padding-bottom: 20px;
}

.article-card h1 a {
  font-size: 40px;
  font-weight: 700;
}
.article-card h1 a:hover {
  color: #03a9f4;
}

.info {
  background: #f2f2f2;
  color: #99a1bd;
  font-weight: 400;
  margin: 0 -44px 0;
  padding: 10px 44px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.info a {
  color: #03a9f4;
  font-weight: 700;
  white-space: nowrap;
}

.info a:hover {
  color: #000;
}

.article-card .detail {
  margin: 27px 0 30px 0;
  font-size: 19px;
}

.article-card .more {
  padding-bottom: 60px;
  font-size: 19px;
  display: block;
}

.article-card .more a {
  color: #03a9f4;
}

.article-card .article-card-footer {
  height: 43px;
}

.article-card .article-card-footer .wrapper {
  width: 100%;
  margin: 0 -44px 0;
  padding: 0 44px 0;
  background: #f2f2f2;
}

.article-card .article-card-footer .icon {
  width: 30px;
  height: 29px;
  padding-top: 14px;
  float: left;
  margin: 0 auto;
}

.article-card-footer .icon img {
  width: 17px;
  height: 17px;
}

.article-card-footer .description {
  height: 43px;
  line-height: 43px;
}

.article-card-footer a {
  text-transform: uppercase;
  font-weight: 700;
  color: #9F9F9F;
}

.article-card-footer a:hover {
  color: #03A9F4;
}


.oldstuff {
  width: 100%;
  height: 50px;
}

.oldstuff div {
  width: 208px;
  margin: 0 auto;
  border-radius: 4px;
}


.oldstuff div a {
  display: block;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #7db1ef;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.oldstuff div a:hover {
  background: #000;
  color: #fff;
}


.content-wrapper aside {
  flex: 0 0 300px;
  padding: 22px 22px 0;
  background: #eee;
}

aside .front-end-jobs {
  width: 256px;
  height: 355px;
  padding: 22px;
  background: #fff;
}

aside .front-end-jobs ul {
  height: 190px;
}

aside .front-end-jobs li {
  margin: 10px 0;
}

aside .front-end-jobs h2 {
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  text-transform: capitalize;
}

aside .front-end-jobs li a {
  font-weight: 700;
  border-bottom: 2px solid #fff;
}

aside .front-end-jobs li a:hover {
  border-bottom-color: #c5ecfe;
}

aside .front-end-jobs .btn {
  width: 256px;
  height: 40px;
  margin: 10px 0;
  text-align: center;
}

aside .front-end-jobs .btn a {
  display: block;
  height: 40px;
  border-radius: 4px;
  line-height: 40px;
  font-size: 15px;
  background-color: #7db1ef;
  color: #fff;
  text-transform: uppercase;
}

aside .front-end-jobs .btn a:hover {
  background: #000;
}

aside .make-website {
  margin: 43px 0 43px;
}

aside .make-website a {
  display: block;
  width: 300px;
  height: 250px;
  background: url('../images/make-website.png') no-repeat 0 0;
}